modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Angular Todo App"

[[workflows.workflow]]
name = "Angular Todo App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd src && node main-app.js"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "cd src && node main-app.js"]
