.bg-green { background-color: darkblue !important; }
:host {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav.navbar {
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
}

.main-content {
  width: 100%;
  margin: 0;
  padding: 2rem;
  background-color: #fff;
  min-height: calc(100vh - 70px); /* If navbar height is 56px */
}

:root {
  --green: #0d5a2b;
}

.card-title { font-size: 1.1rem; }

.notes-box {
  background: #f8f9fa;
  padding: .5rem .75rem;
  border-left: 3px solid var(--green);
  border-radius: .25rem;
  font-size: .9rem;
}

.modal-header { background: var(--green); }

.btn-success { background: var(--green); border-color: var(--green); }

.btn-success:hover { background: #08803d; border-color: #08803d; }
